{# Template snippet for inventory chart #}
<script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
<script type="text/javascript" src="/static/js/Chart.min.js"></script>


<script>
    var endpoint = "";
    var timeFormat = 'MM/DD/YYYY HH:mm';
    var products = []
    var product_ids = []
    window.chartColors = {
      red: 'rgb(255, 99, 132)',
      orange: 'rgb(255, 159, 64)',
      yellow: 'rgb(255, 205, 86)',
      green: 'rgb(75, 192, 192)',
      blue: 'rgb(54, 162, 235)',
      purple: 'rgb(153, 102, 255)',
      grey: 'rgb(201, 203, 207)'
    };
    var colorNames = Object.keys(window.chartColors);

    {# FIXME better performance #}
    {% if object_list is None %}
        products.push([{{ product.id }}, '{{ product.name }}'])
    {% elif object_list %}
        {% for stock in object_list %}
            if (!product_ids.includes({{ stock.product.id }})) {
                products.push([{{ stock.product.id }}, '{{ stock.product.name }}']);
                product_ids.push({{ stock.product.id }});
            }
        {% endfor %}
    {% endif %}

    console.log(products)

    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: [],
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Count'
                    }
                }],
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: timeFormat,
                        unit: 'quarter'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }]
            }


        }
    })




    var getData = function(product_id, product_name) {

        endpoint = '/api/inventory/' + product_id
        $.ajax({
            method: "get",
            url: endpoint,
            success: function(data){
                var newDataset = {
                    label: product_name,
                    backgroundColor: colorNames[product_id],
                    borderColor: colorNames[product_id],
                    data: [],
                    fill: false,
                    pointRadius: 10,
                    pointHoverRadius: 15,
                };
                $.each(data, function(key, value){
                    newDataset.data.push({
                        x: moment.utc(value['countdate']).format('l LT'),
                        y: parseInt(value['count']),
                    });
                });
                myChart.data.datasets.push(newDataset);
                myChart.update();

            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
    }
    for(i = 0; i < products.length; i++){
        getData(products[i][0],products[i][1]);
    }
</script>
