{# Template snippet for inventory chart #}
<script type="text/javascript" src="/static/js/Chart.min.js"></script>
<script type="text/javascript" src="/static/moment/moment.js"></script>


<script>
    var endpoint = "";
    var defaultData = []
    var dataPoints = []
    var labels = []
    var products = []
    var product_ids = []
    {% for stock in object_list %}
        if (!product_ids.includes({{ stock.product.id }})) {
            products.push(product = [{{ stock.product.id }}, '{{ stock.product.name }}']);
            product_ids.push({{ stock.product.id }});
        }
    {% endfor %}


        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    labels: [],
                    label: "test",
                    data: [],
                    borderColor: "rgb(10, 112, 172)",
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Count'
                        }
                    }],
                    xAxes: [{

                    }]
                }


            }
        })




    var getData = function(product_id) {
        endpoint = '/api/inventory/' + "1"
        {#endpoint = '/api/inventory/' + product_id#}
        $.ajax({
            method: "get",
            url: endpoint,
            success: function(data){
                labels = data.labels
                defaultData = data.default

                $.each(data, function(key, value){
                    //dataPoints.push({t: Date.parse(moment.utc(value['countdate']).format('l LT')), y: parseInt(value['count'])});
                    myChart.data.labels.push(moment.utc(value['countdate']).format('l LT'))
                    myChart.data.datasets[0].data.push(parseInt(value['count']))
                });
                //setChart()
                myChart.update();

            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
    }
    for(product in products){
        getData(product[1]);
    }

    {#getData(3);#}
</script>
