{% extends 'barsys/admin/base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}
{% load humanize %}


{% block content %}
    <div class="row">
        <h1 class="pull-left" style="margin-top: 0;">Inventory overview</h1>
        <div class="pull-right">
            <a href="{% url 'admin_inventory_recount' %}">
                <button class="btn btn-primary">{% bootstrap_icon 'repeat' %} recount everything</button>
            </a>
            <a href="{% url 'admin_inventory_list' %}">
                <button class="btn btn-primary">{% bootstrap_icon 'pencil' %} change inventory count</button>
            </a>
        </div>
    </div>

    <div>
        <div class="container">
          <div class="row">
          {% for stock in object_list %}
            <div class="col-md-3">
              <div class="panel panel-{% if stock.count|to_int <= 3 %}danger{% elif stock.count|to_int <= 10 %}warning{% elif stock.count|to_int > 10 %}success{% endif %} mb-4 box-shadow">
                <div class="panel-heading text-center"><h3>{{ stock.product.name }}</h3></div>
                  <div class="panel-body">
                    <div class="text-center">
                        <h1>{{ stock.count }}</h1>
                    </div>
                  <div class="row">
                      <div class="col-md-9">
                          <small class="count-date" data-countdate="{{ stock.countdate|date:'Y-m-d H:i' }}" class="text-muted float-right">{{ stock.countdate.date }}</small>
                      </div>
                      <div class="col-md-3 float-right">
                          <a href="{% url 'admin_inventory_detail' stock.pk %}">{% bicon 'info-sign' %}</a>
                          <a href="{% url 'admin_inventory_new' %}">{% bicon 'pencil' %}</a>

                      </div>

                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
    </div>

    <h2>Product flow</h2>
    <p>Table with product count data over time</p>
    <div class="row">
        <div class="col-sm-12" url-endpoint={% url "main_inventory_api" %}>
            <canvas id="myChart" width="1000" height="400"></canvas>
        </div>
    </div>
    {% include 'barsys/snippets/inventory_chart_element.html' with product=object_list %}
    <script>
        function timeAgo(){
             var elements = document.getElementsByClassName("count-date");
             for(var i=0; i < elements.length; i++)
            {
                var countdate = elements[i].dataset.countdate;
                elements[i].innerText += " | " + moment(countdate).fromNow();
                if(moment().diff(countdate, 'months') > 3){
                    elements[i].classList.add("text-danger");
                }
            }
        }
        window.onload = timeAgo;
    </script>
{% endblock %}